<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TaskManager</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeue-Black.otf</string>
		<string>HelveticaNeue-BlackCond.otf</string>
		<string>HelveticaNeue-BlackCondObl.otf</string>
		<string>HelveticaNeue-BlackExt.otf</string>
		<string>HelveticaNeue-BlackExtObl.otf</string>
		<string>HelveticaNeue-BoldCondObl.otf</string>
		<string>HelveticaNeue-BoldExt.otf</string>
		<string>HelveticaNeue-BoldExtObl.otf</string>
		<string>HelveticaNeue-Condensed.otf</string>
		<string>HelveticaNeue-CondensedObl.otf</string>
		<string>HelveticaNeue-ExtBlackCond.otf</string>
		<string>HelveticaNeue-ExtBlackCondObl.otf</string>
		<string>HelveticaNeue-Extended.otf</string>
		<string>HelveticaNeue-ExtendedObl.otf</string>
		<string>HelveticaNeue-Heavy.otf</string>
		<string>HelveticaNeue-HeavyCond.otf</string>
		<string>HelveticaNeue-HeavyCondObl.otf</string>
		<string>HelveticaNeue-HeavyExt.otf</string>
		<string>HelveticaNeue-HeavyExtObl.otf</string>
		<string>HelveticaNeue-HeavyItalic.otf</string>
		<string>HelveticaNeue-Light.otf</string>
		<string>HelveticaNeue-LightCondObl.otf</string>
		<string>HelveticaNeue-LightExt.otf</string>
		<string>HelveticaNeue-LightExtObl.otf</string>
		<string>HelveticaNeue-Medium.otf</string>
		<string>HelveticaNeue-MediumCond.otf</string>
		<string>HelveticaNeue-MediumCondObl.otf</string>
		<string>HelveticaNeue-MediumExt.otf</string>
		<string>HelveticaNeue-MediumExtObl.otf</string>
		<string>HelveticaNeue-Roman.otf</string>
		<string>HelveticaNeue-Thin.otf</string>
		<string>HelveticaNeue-ThinCond.otf</string>
		<string>HelveticaNeue-ThinCondObl.otf</string>
		<string>HelveticaNeue-ThinExtObl.otf</string>
		<string>HelveticaNeue-ThinItalic.otf</string>
		<string>HelveticaNeue-UltraLigCond.otf</string>
		<string>HelveticaNeue-UltraLigCondObl.otf</string>
		<string>HelveticaNeue-UltraLigExt.otf</string>
		<string>HelveticaBlkIt.ttf</string>
		<string>HelveticaNeueBold.ttf</string>
		<string>HelveticaNeueBoldItalic.ttf</string>
		<string>HelveticaNeueCondensedBlack.ttf</string>
		<string>HelveticaNeueCondensedBold.ttf</string>
		<string>HelveticaNeueItalic.ttf</string>
		<string>HelveticaNeueLight.ttf</string>
		<string>HelveticaNeueLightItalic.ttf</string>
		<string>HelveticaNeueMedium.ttf</string>
		<string>HelveticaNeueUltraLight.ttf</string>
		<string>HelveticaNeueUltraLightItal.ttf</string>
	</array>
</dict>
</plist>
